mixin  video(video)
  div
    a(href=`/videos/${video.id}`)=video.title
      ul
        li #{video.commonents} comments.
        li #{video.rating}/5
        li Posted #{video.creatAt}
        li #{video.views} views